{{define "footer"}}
    <footer class="text-center text-white" style="background-color:#0c48a1">
        <!-- Grid container -->
        <div class="container pt-4">

        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2023 Copyright:
            <a class="text-white" href="javascript:void()">GoLang Web</a>
        </div>
        <!-- Copyright -->
    </footer>
{{end}}