{{define "script"}}
    <script src="/assets/js/bootstrap.bundle.min.js"  crossorigin="anonymous"></script>
    <script src="/assets/font-awesome/js/all.min.js"  crossorigin="anonymous"></script>
    <script src="/assets/js/iziToast.min.js"  crossorigin="anonymous"></script>

    <script>
        var output = document.getElementById('output');
        output.style.display = "none";
        var loadFile = function(event) {
            var reader = new FileReader();
            reader.onload = function(){
                var output = document.getElementById('output');
                output.style.display = "block";
                output.src = reader.result;
            };
            reader.readAsDataURL(event.target.files[0]);
        };
    </script>
{{end }}